.minus{
  width: 4vh;
  height: 3vh;
  float: left;
  
}

.plus{
   width: 4vh; 
   height: 3vh;
   float: right;
   
}

.beerInput {
    background-color: transparent;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color:rgb(198, 192, 210);
    width: 8vh;
    text-align: center;
  }

  .amount_buttons {
      margin-top: 1vh;
      margin-bottom: 1vh;
      display: flex; 
      flex-direction: row;
      width: 8vh;
      
   
  }

  .order {
    font-family: lato, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #21f0aa;
    border: 1px solid #21f0aa;
    background-color: #1c192f;
    padding: 0.5vh;
    border-radius: 0.5vh;
    width: 10vh;
    margin-top: 3vh;
    box-shadow: 1px 1px 5px black;
  }

  .order_container {
      text-align: center;
  }

