* {
    margin: 0;
}

html {
    overflow-y: hidden;
}


body {
    background-color: #2a283d;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 2vh; 
    margin-right: 2vh;
    margin-top: 2vh;
    border: 2px solid rgb(198, 192, 210);
    padding-bottom: 3vh;
}

.beer {
    width: 16vh;
    border: 1px solid rgb(198, 192, 210);
    padding: 1vh;
}

.beer_name {
    color: rgb(198, 192, 210);
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block; 
    text-align: center;
}

.beer_image {
    width: 16vh; 
    height: 16vh;
    display: block;
    margin: auto;
  }
  
  form {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1vh;
    padding-top: 1vh;
  }
  