* {
    margin: 0;
}

body {
    background-color: #2a283d;
    overflow-x: hidden;
    margin: 2vh;
    border: 2px solid #c6c0d2;
    box-shadow: 2px 2px 10px black;
    padding-bottom: 3vh;
}

.foobar_logo_mobile {
    padding-top: 1vh;
    width: 23vh; 
    height: 14vh;
}

.beer {
    width: 16.5vh;
    border: 1px solid rgb(198, 192, 210);
    padding: 1.5vh 1vh 1vh 1vh;
    flex-basis: 130px;
    box-shadow: 1px 1px 5px black;
}

.beer:first-child {
    margin-top: 1.5vh;
}

.beer:nth-child(2) {
    margin-top: 1.5vh;
}

.beer_name {
    color: rgb(198, 192, 210);
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block; 
    text-align: center;
    margin-top: 0.5vh;
}

.beer_image {
    width: 15vh; 
    height: 15vh;
    display: block;
    margin: auto;
  }
  
  form {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
    overflow-y: auto;
    
    
  }
  