// MOBILE

* {
    margin: 0;
}

body {
    background-color: #2a283d;
    overflow-x: hidden;
    margin: 2vh;
    border: 2px solid #c6c0d2;
    box-shadow: 2px 2px 10px black;
    padding-bottom: 3vh;
}

.foobar_logo_mobile {
    padding-top: 1vh;
    width: 23vh; 
    height: 14vh;
}

.beer {
    width: 16.5vh;
    border: 1px solid rgb(198, 192, 210);
    padding: 1.5vh 1vh 1vh 1vh;
    flex-basis: 130px;
    box-shadow: 1px 1px 5px black;
}

.beer:first-child {
    margin-top: 1.5vh;
}

.beer:nth-child(2) {
    margin-top: 1.5vh;
}

.beer_name {
    color: rgb(198, 192, 210);
    font-family: lato, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block; 
    text-align: center;
    margin-top: 0.5vh;
}

.beer_image {
    width: 15vh; 
    height: 15vh;
    display: block;
    margin: auto;
  }
  
  form {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
    overflow-y: auto;
    
    
  }

  .payment {
      display: none;
  }

//   IPAD

  @media screen and (min-width: 415px) {
    .foobar_logo_mobile {
        width: 25vh; 
        height: 16vh;
        margin-bottom: 2vh;
    }

    body {
        margin: 5vh;
    }

    .beer:first-child {
        margin-top: 0vh;
    }
    
    .beer:nth-child(2) {
        margin-top: 0vh;
    }

    form {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vh;
        justify-content: center;
        overflow-y: hidden;
       
        
        
      }
  }

//   WEB

  @media screen and (min-width: 769px) {

    .foobar_logo_mobile {
        position: relative;
        top: -6vh;
        
    }


body {
    margin-top: 7vh; 
    margin-bottom: 3vh;
    margin-left: 25vh; 
    margin-right: 25vh;
    padding-bottom: 1.5vh;
}

    .beer {
        width: 20vh;
        padding-top: 1.5vh; 
        padding-left: 1.5vh; 
        padding-right: 1.5vh; 
        padding-bottom: 0.5vh;
        border: 1px solid rgb(198, 192, 210);
        flex-basis: 150px;
        box-shadow: 1px 1px 5px black;
        cursor: pointer;
    }

    .beer_image {
        width: 20vh; 
        height: 20vh;
      }

    form {
        display: flex;
        flex-direction: row;
        padding-left: 10vh;
        padding-right: 10vh;
        margin-top: -7vh;
    }
}
 